@{
    ViewData["Title"] = "User Search Screen";
}

<div class="card">

    <div class="card-header">
        <div class="card-title">
            <h2>User Search Screen</h2>
            <br />
            <p style="color:red;font-style: italic;">
                * Please pay attention incase of input controls highlighted with red color,
                <br>this means that it requires valid input values to be supplied.
                <br><br>* Search works on the contains basis for string field, not on the exact match.
            </p>
        </div>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.DropDownList("UserNameList", (IEnumerable<SelectListItem>)ViewBag.UserNameList, "--- Select User ---", new { @class = "form-control"})
                    <input type="hidden" id="UserId" />
                    <input type="hidden" id="Username" />
                    <br />
                </div>
            </div>
        </div>

        <div class="row" id="ParamSearchDiv" style="visibility:hidden">
            <div class="col-lg-12">
                <div class="form-group">
                    <table class="table table-bordered table-striped" id='tblParams'>
                        <thead class="bg-dark text-white">
                            <tr>
                                <td>Field Name</td>
                                <td>Field Value</td>
                            </tr>
                        </thead>
                        <tbody id="tblParamSearchBody">
                        </tbody>
                    </table>
                    <input type="button" class="btn btn-success" id="btnSearch" value="Search">
                </div>
            </div>
        </div>
        <br />
        <div class="row" id="UserDisplayDiv" style="visibility:hidden">
            <div class="col-lg-12">
                <div class="form-group">
                    <table class="table table-bordered table-striped" id='tblParams'>
                        <thead class="bg-dark text-white">
                            <tr>
                                <td>UserId</td>
                                <td>UserName</td>
                                <td>Role</td>
                                <td>LastLogin</td>
                                <td>FName</td>
                                <td>LName</td>
                                <td>Department</td>
                                <td>DOJ</td>
                                <td>MgrId</td>
                                <td>Seniority</td>
                                <td>EmpCode</td>
                            </tr>
                        </thead>
                        <tbody id="tblUserDisplayBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/js/UserSearch.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    .error {
        outline: 1px solid red;
    }
</style>

<script type="text/javascript">

    var UserSearchParam = [];
    var UserSearchResult = [];

    var SearchParamCount = 0;
    var UserSearchResultCount = 0;

    var UserNameList = @Html.Raw(Json.Serialize(ViewBag.UserNameList));
    var RoleList = @Html.Raw(Json.Serialize(ViewBag.RoleList));
    var DepartmentList = @Html.Raw(Json.Serialize(ViewBag.DepartmentList));

    // User List dropdown selection change event handler.
    $('#UserNameList').change(function () {

        var row = '';
        UserSearchParam = [];

        document.getElementById('tblParamSearchBody').innerHTML = '';

        // Set the hidden fields with the selected user dropdown values.
        $('#UserId').val($(this).val());
        $('#Username').val($('option:selected', $(this)).text());

        $("#ParamSearchDiv").css("visibility", "hidden");
        $("#UserDisplayDiv").css("visibility", "hidden");

        $.ajax({
            type: "POST",
            url: "/UserSearch/GetSearchParamsByUserId",
            data: { "UserId": $('#UserId').val() },
            success: function (response) {
                $("#ParamSearchDiv").css("visibility", "visible");
                if (response) {
                    UserSearchParam = JSON.parse(response);
                    SearchParamCount = UserSearchParam.length;
                    if (SearchParamCount == 0) {
                        ShowEmptySearchParamRow();
                    }
                    else {
                        document.getElementById("btnSearch").disabled = false;
                        BuildSearchParamInputControls();
                    }
                }
                else {
                    SearchParamCount = 0;
                    ShowEmptySearchParamRow();
                }
            },
            failure: function (response) { toastr.error(response.responseText) },
            error: function (response) { toastr.error(response.responseText) },
        });

    });

    $('#btnSearch').click(function () {

        var flgValid = true;

        var userid = null;
        var username = null;
        var role = null;
        var lastlogin = null;
        var fname = null;
        var lname = null;
        var department = null;
        var doj = null;
        var mgrid = null;
        var seniority = null;
        var empcode = null;

        $(UserSearchParam).each(function (index) {

            var fieldname = UserSearchParam[index].FieldName;
            var control = document.getElementById('' + fieldname + '');

            var controlValue = '';

            if ($(control).prop('type') == 'select-one') {
                controlValue = $(control).children("option").filter(":selected").text();
            }
            else {
                controlValue = control.value;
            }

            if (control.value) {
                if (fieldname == 'UserId') userid = controlValue;
                if (fieldname == 'UserName') username = controlValue;
                if (fieldname == 'Role') role = controlValue;
                if (fieldname == 'LastLogin') lastlogin = controlValue;
                if (fieldname == 'FName') fname = controlValue;
                if (fieldname == 'LName') lname = control.value;
                if (fieldname == 'Department') department = controlValue;
                if (fieldname == 'DOJ') doj = controlValue;
                if (fieldname == 'MgrId') mgrid = controlValue;
                if (fieldname == 'Seniority') seniority = controlValue;
                if (fieldname == 'EmpCode') empcode = controlValue;
            }

            if (UserSearchParam[index].Constraint == 'Mandatory') {
                if (!control.value) {
                    $(control).addClass("error");
                    return flgValid = false;
                }
                else {
                    $(control).removeClass("error");
                }
            }
            else {
                $(control).removeClass("error");
            }

        });

        if (flgValid) {
            $.ajax({
                type: "POST",
                url: "/UserSearch/SearchUserBySearchParams",
                data: {
                    "userid": userid, "username": username, "role": role, "lastlogin": lastlogin, "fname": fname, "lname": lname,
                    "department": department, "doj": doj, "mgrid": mgrid, "seniority": seniority, "empcode": empcode
                },
                success: function (response) {

                    $("#UserDisplayDiv").css("visibility", "visible");
                    if (response) {
                        UserSearchResult = JSON.parse(response);
                        UserSearchResultCount = UserSearchResult.length;
                        if (UserSearchResultCount == 0) {
                            ShowEmptySearchResultRow();
                        }
                        else {
                            BuildUserSearchResultTable();
                        }
                    }
                    else {
                        UserSearchResultCount = UserSearchResult.length;
                        ShowEmptySearchResultRow();
                    }

                },
                failure: function (response) { toastr.error(response.responseText) },
                error: function (response) { toastr.error(response.responseText) },
            });
        }

    });

    

</script>